.navbar {
    height: 10%;
    width: 100%;
    background-color: sandybrown;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.logo {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
}

.nav-icon {
    height: 50%;
    width: 20%;
    padding-left: 2%;
    padding-right: 3%;
}

.navlink {
    padding-left: 1%;
    padding-right: 3%;
    text-decoration: none;
    font-size: small;
}

.form-btn {
    background: none;
    color: #551A8B;
    border: none;
    padding: 0;
    cursor: pointer;
    font-weight: bold;
    margin-right: 30px;
    font-size: 19px;
}

.form-btn:active {
    color: red;
}